<?xml version="1.0" encoding="utf-8"?>


<launch>
<!-- Launch the OptiTrack node - the OptiTrack must already be running -->

<!-- Launch the ardronev1 node - our OptiTrack control -->
  <node name="chessboard" pkg="opencv_ardrone" type="chessboard" output = "screen"/>

  <node name="keyboard_controller" pkg="ardrone_tutorials" type="keyboard_controller.py" required="true">
		<remap from="cmd_vel" to="key_output"/>
  </node>
  <include file="$(find ardrone_autonomy)/launch/ardrone.launch"/>
    <node name="filter_empty_msgs" pkg="ardronecontrol" type="filter_empty_msgs"/>
</launch>
